<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ developers_name }} - Game Catalog</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    {% include 'navbar.html' %}
    <h1>Games created by {{ developers_name }}</h1>
    {% if jogos %}
    <ul>
      {% for jogo in jogos %}
      <li>
        <a href="{{ url_for('game_page', game_slug=jogo.slug) }}">
          <img
            src="{{ jogo.background_image }}"
            alt="{{ jogo.name }}"
            width="156px"
            height="211px"
          />
          <p>{{ jogo.name }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No games for this platform</p>
    {% endif %}
  </body>
</html>
