<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ jogo.name }} - Game Catalog</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style-game_page.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    {% include 'navbar.html' %}

    <!-- Seção Background -->
    <section class="game-page-container">
      <div class="background-image-wrapper">
        <img
          class="game_background_image"
          src="{{ jogo.background_image }}"
          alt="background_image {{ jogo.slug }}"
        />
      </div>
    </section>

    <!-- Seção Jogo -->
    <div class="info-bar">
      <div class="game-details-content">
        <!-- Imagem Jogo - Esquerda -->
        <div class="left-column">
          <img
            class="game_image"
            src="{{ jogo.background_image }}"
            alt="{{ jogo.slug }}"
            width="173px"
            height="233px"
          />
        </div>

        <!-- Jogo - Meio -->
        <div class="center-column">
          <h1>{{ jogo.name }}</h1>
          <div>
            <p>
              Released on <b>{{ jogo.released }}</b> by {% for developer in
              jogo.developers %}
              <a
                href="{{ url_for('creators', developers_id=developer.id) }}"
                class="link-developer"
              >
                <b>{{ developer.name }}</b>
              </a>
              {% if not loop.last %}, {% endif %} {% endfor %} {% if not
              jogo.developers %}N/A{% endif %}
            </p>
          </div>
          <p>{{ jogo.description_raw }}</p>
          <hr />
          <h3 class="h3-title">Reviews</h3>
        </div>

        <!-- Informações Jogo - Direita -->
        <div class="right-column">
          <h3 class="h3-title">Platforms</h3>
          <ul>
            <div class="tag-container">
              {% for plataforma in jogo.platforms %}
              <li>
                <a
                  href="{{ url_for('platforms', platform_id=plataforma.platform.id) }}"
                  class="game-tag"
                >
                  {{ plataforma.platform.name }}
                </a>
              </li>
              {% endfor %}
            </div>
          </ul>
          <h3 class="h3-title">Genre</h3>
          <ul>
            <div class="tag-container">
              {% for genero in jogo.genres %}
              <li>
                <a
                  href="{{ url_for('genre', genre_id=genero.id) }}"
                  class="game-tag"
                >
                  {{ genero.name }}
                </a>
              </li>
              {% endfor %}
            </div>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
