<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Catalog</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style-homepage.css') }}"
    />
  </head>
  <body>
    <!-- Header -->
    <section class="header-section">
      <div class="header">
        <h1>Game Catalog</h1>
        <h2>Explore, analize e avalie seus jogos favoritos</h2>
      </div>
    </section>

    <!-- Jogos mais populares -->
    <section>
      <div class="games">
        <div class="games-titulo-container">
          <h3>Mais esperados de {{ now.year }}</h3>
        </div>
        {% if jogos %}
        <ul class="games-grid-ul">
          <div class="games-grid mais-esperados">
            {% for jogo in jogos %}
            <li class="jogos-mais-esperados">
              <img
                src="{{ jogo.background_image }}"
                alt="{{ jogo.name }}"
                width="156px"
                height="211"
                class="imagem-jogos-mais-esperados"
              />
            </li>
            {% endfor %}
          </div>
        </ul>
        {% else %}
        <p>Nenhum jogo para exibir no momento.</p>
        {% if erro_api %}
        <p style="color: red">{{ erro_api }}</p>
        {% endif %} {% endif %}
      </div>
    </section>
  </body>
</html>
